// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home-container {
  position: relative;
  min-height: 100vh;
  max-width: auto;
  margin: 0 auto;
}
