.content-wrap {
  margin: 0 1rem;
  padding-bottom: 5rem;
  p {
    text-align: center;
  }
  .steps {
    font-size: 2rem;
    @include mq($until: desktop) {
      font-size: 1rem;
    }
  }
  p {
    @include mq($until: desktop) {
      font-size: 1rem;
    }
  }
}
