// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
#intro {
  font-family: "Oswald", sans-serif;
  list-style: none;
  text-align: center;
  color: $dark-color;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}
#pickNumber {
  display: grid;
  padding-top: 1rem;
  place-items: center;
  #number {
    margin-bottom: 1rem;
    text-align: center;
  }
  .number {
    font-size: 1rem;
  }
  p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }
  .info {
    color: red;
    font-size: 0.75rem;
    margin-bottom: 1rem;
    @include mq($until: desktop) {
      display: none;
    }
  }
}

#categories {
  margin-bottom: 1rem;
  input[type="checkbox"] {
    transform: scale(1.2);
  }
}

#ticks {
  font-size: 0.75rem;
  text-align: center;
  color: $dark-color;
}
#get-jokes {
  display: inline-block;
  height: 3rem;
  min-width: 40vw;
  margin-bottom: 1rem;

  color: $light-color;
  background-color: $bg-dark-color;
  font-weight: 900;
  border-radius: 5px;
  outline: none;
  border: 1px solid $dark-color;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 250ms ease;
  @include mq($until: desktop) {
    font-size: 1rem;
  }
  &:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.431) 0px 10px 10px;
  }
}

@keyframes rotate-forever {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-name: rotate-forever;
  animation-timing-function: linear;
  height: 20px;
  width: 20px;
  border: 2px solid $light-color;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

#jokeList {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    padding: 1rem;
    margin: 0 auto;
    &:nth-child(odd) {
      color: $medium-color;
    }
    &:nth-child(even) {
      color: $dark-color;
    }
    &:last-child {
      padding-bottom: 2rem;
    }

    @include mq($until: desktop) {
      font-size: 1rem;
    }
    @include mq($until: mobile) {
      font-size: 1rem;
      padding: 0.5rem;
    }
  }
}
