$light-color: #cae4db;
$medium-color: #cdac81;
$dark-color: #00303f;

$bg-light-color: #f5f4f4;
$bg-medium-color: #cdac81;
$bg-dark-color: #00303f;

$btn-light-color: red;
$btn-medium-color: orage;
$btn-dark-color: blue;

$btn-light-bg: red;
$btn-medium-bg: orage;
$btn-dark-bg: blue;
